<h1 style="text-align: center">Dashboard</h1>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="1:1" gutterSize="10px">
    <mat-grid-tile>
      <mat-card title="Market">
        <mat-card-title>Market</mat-card-title>
        <app-market-chart></app-market-chart>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card title="Portofolio">
        <mat-card-title>Portofolio</mat-card-title>
        <app-portofolio-chart></app-portofolio-chart>
      </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile>
      <mat-card title="Profit">
        <mat-card-title>Profit</mat-card-title>
        <app-profit-chart></app-profit-chart>
      </mat-card>
    </mat-grid-tile> -->
  </mat-grid-list>
</div>
