.grid-container {
  display: flex;
  justify-content: space-between;
}

mat-card {
  background-color: #1e1e2d !important;
  flex: 1;
  margin: 0 10px; /* Adjust as needed */
}

mat-grid-list {
  position: static !important;
}

table {
  color: white;
}
