<h1 style="text-align: center">Supported Crypto</h1>
<div class="container">
  <div class="search-list">
    <input
      type="text"
      [(ngModel)]="searchText"
      (input)="applyFilter()"
      placeholder="Search"
    />

    <app-list
      [items]="filteredLeftList"
      title="All Crypto Currencies"
      (itemClickedEvent)="moveItem($event, 'right')"
    ></app-list>
  </div>
  <button class="save-button" (click)="saveData()">Save</button>

  <div class="search-list">
    <input
      type="text"
      [(ngModel)]="searchTextRight"
      (input)="applyFilterRight()"
      placeholder="Search"
    />

    <app-list
      [items]="filteredRightList"
      title="Supported Crypto Currencies"
      (itemClickedEvent)="moveItem($event, 'left')"
    ></app-list>
  </div>
</div>
