<h1>Transaction</h1>

<nav>
  <ul>
    <li class="badge badge-pill badge-primary">Transaction</li>
    <li class="badge badge-pill badge-primary">
      <a href="conversion">Conversion</a>
    </li>
  </ul>
</nav>
<form (ngSubmit)="onSubmit(transactionForm)" #transactionForm="ngForm">
  <label for="transactionType">Transaction Type:</label>
  <select
    id="transactionType"
    [(ngModel)]="transactionType"
    name="transactionType"
    required
  >
    <option value="BankTransaction">Bank transaction</option>
    <option value="Card">Card</option>
    <!-- Add options for transaction type dropdown -->
  </select>

  <!-- Conditionally display additional input fields -->
  <div *ngIf="transactionType === 'BankTransaction'">
    <label for="iban">IBAN:</label>
    <input
      type="text"
      id="iban"
      [(ngModel)]="iban"
      name="iban"
      required
      #ibanField="ngModel"
    />
    <div *ngIf="ibanField.invalid && ibanField.touched" class="error">
      IBAN is required.
    </div>
  </div>

  <div *ngIf="transactionType === 'Card'">
    <label for="cardNumber">Card Number:</label>
    <input
      type="text"
      id="cardNumber"
      [(ngModel)]="cardNumber"
      name="cardNumber"
      required
      #cardNumberField="ngModel"
    />
    <div
      *ngIf="cardNumberField.invalid && cardNumberField.touched"
      class="error"
    >
      Card Number is required.
    </div>
  </div>

  <div class="input-container">
    <label for="amount">Amount:</label>
    <div class="input-wrapper">
      <input
        type="number"
        id="amount"
        [(ngModel)]="amount"
        name="amount"
        required
        min="0.01"
        #amountField="ngModel"
      />
      <span class="currency-symbol">€</span>
    </div>
    <div *ngIf="amountField.invalid && amountField.touched" class="error">
      Amount must be greater than 0.
    </div>
  </div>

  <p *ngIf="transactionType === 'Card'">
    For card transactions, there is a 0.70% tax.
  </p>
  <p *ngIf="transactionType === 'BankTransaction'">
    For bank transactions, there is no tax.
  </p>

  <button
    type="submit"
    [disabled]="transactionForm.invalid"
    class="submit-button"
    (click)="openConfirmationModal()"
  >
    Send
  </button>
</form>

<!-- Confirmation Modal -->
<div
  aria-hidden="true"
  aria-labelledby="confirmationModalLabel"
  class="modal fade modal-black"
  id="confirmationModal"
  role="dialog"
  tabindex="-1"
  [class.show]="showConfirmation"
  [style.display]="showConfirmation ? 'block' : 'none'"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <button
          aria-hidden="true"
          class="close"
          data-dismiss="modal"
          (click)="cancelTransaction()"
          type="button"
        >
          <i class="tim-icons icon-simple-remove text-white"></i>
        </button>
        <div class="text-muted text-center ml-auto mr-auto">
          <h3 class="mb-0">Confirmation</h3>
        </div>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to convert {{ amount }}</p>
        <p *ngIf="transactionType === 'Card'">
          Transaction Fee: 0.70%
          <button
            type="button"
            class="btn btn-link p-0"
            container="body"
            placement="right"
            data-toggle="tooltip"
            data-placement="top"
            ngbPopover="This is the commission for the transaction."
          >
            <i class="fas fa-question-circle"></i>
          </button>
        </p>
        <p *ngIf="transactionType === 'BankTransaction'">
          Transaction Fee: No Fee
        </p>
        <p *ngIf="transactionType === 'Card'">
          Total transaction price: {{ amount + amount * (0.7 / 100) }}
        </p>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          (click)="confirmTransaction()"
        >
          Confirm
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="cancelTransaction()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
