<!-- app.component.html -->
<div class="container">
  <div class="table-container">
    <h1 style="text-align: center; vertical-align: middle">Popular</h1>
    <table class="table">
      <tr class="mat-row">
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Change</th>
      </tr>
      <tr class="mat-row" *ngFor="let crypto of bannerData">
        <td class="mat-cell">
          <img [src]="crypto.image" alt="{{ crypto.symbol }} Logo" />
        </td>
        <td class="mat-cell">{{ crypto.symbol | uppercase }}</td>
        <td class="mat-cell">{{ crypto.current_price }}</td>
        <td
          class="mat-cell"
          [ngClass]="{
            'text-danger': crypto.market_cap_change_percentage_24h < 0,
            'text-success': crypto.market_cap_change_percentage_24h >= 0
          }"
        >
          {{ crypto.market_cap_change_percentage_24h }}%
        </td>
      </tr>
    </table>
  </div>
</div>
