<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand active" routerLink="/dashboard">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active-link">
          <a
            class="nav-link"
            aria-current="page"
            *ngIf="isAuthenticated"
            routerLink="transactions"
            >Transactions</a
          >
        </li>
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" routerLink="/supported" *ngIf="isAuthenticated"
            >Currencies</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/"
                routerLinkActive="active-link"
                >Another action</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/"
                routerLinkActive="active-link"
                >Something else here</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLinkActive="active-link"
            >Disabled</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active-link">
          <a class="nav-link" routerLink="/user-list">Users</a>
        </li>
        <li>
          <a class="nav-link" routerLink="/auth" *ngIf="!isAuthenticated"
            >Login</a
          >
        </li>
        <li>
          <a
            style="cursor: pointer"
            class="nav-link"
            *ngIf="isAuthenticated"
            (click)="onLogout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
