.active-link {
  /* Add your styling for the active list item here */
  background-color: #343a40; /* Dark grey background color */
  border-radius: 8px; /* Rounded edges */
  color: #fff; /* Example text color */
}

.btn.dropdown-toggle[data-toggle="dropdown"] {
  margin-bottom: 0 !important;
}

.dropdown-menu {
  height: auto;
  max-height: 140px; /* Adjust this value to display only 5 items */
  overflow-x: hidden;
}
