.header {
  height: 40%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.header h2 {
  font-weight: bold;
  margin-bottom: 15px;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.0083em;
}

.header h6 {
  color: darkgray;
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.57;
  letter-spacing: 0.00714em;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center;
}

.container {
  max-width: 960px;
  margin: auto;
  margin-top: 50px;
}

.container-featured {
  max-width: 1360px;
  margin: auto;
  margin-top: 50px;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.text-danger {
  color: red;
}

.text-success {
  color: green;
}

.overflow-auto {
  overflow-x: auto;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.banner {
  height: 360px;
  width: 100%;
}

.card-text {
  font-size: small;
}

.sub-header {
  height: 50%;
}

.card {
  border: 0;
  background: transparent;
  color: #fff;
  width: 100px;
  box-shadow: none;
  margin-bottom: 0px !important;
}

.card img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
}

.card h5 {
  font-weight: 500;
}

.card p {
  font-weight: 700;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

:host ::ng-deep .mat-sort-header-content {
  color: #fff;
}

:host ::ng-deep .mat-paginator-outer-container {
  background-color: #2d2e79;
}

:host ::ng-deep tr.mat-header-row {
  background-color: #2d2e79;
}

:host ::ng-deep tr.mat-row {
  height: 70px;
}

.mat-cell,
.mat-header-cell {
  color: white;
}

::ng-deep .mat-table {
  background-color: #1e1e2a !important;
}

tr:hover {
  background-color: #2d2e79;
  cursor: pointer;
}

mat-paginator {
  color: white;
}

.table-container {
  width: 100%;
  max-width: none; /* Remove the max-width constraint */
  background-color: #1e1e2a;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 20px; /* Add some padding */
}

.featured-container {
  width: 100%;
  max-width: none; /* Remove the max-width constraint */
  background-color: #1e1e2a;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 20px; /* Add some padding */
}
