.main-container {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  min-height: 100vh; /* Minimum height of the viewport */
}

.main-content {
  flex-grow: 1; /* Grow to fill the space */
}

#chart-container {
  width: 400px;
  height: 300px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #fd6095;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}

.chat-options button {
  color: white;
}

.fa-robot {
  color: white;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.modal.show {
  animation: modalFadeIn 0.5s forwards;
}

.modal.hide {
  animation: modalFadeOut 0.5s forwards;
}
