<div class="main-container">
  <navbar></navbar>
  <div class="wrapper">
    <div>
      <img class="dots" src="assets/img/dots.png" style="z-index: -92999" />
      <img class="path" src="assets/img/path4.png" style="z-index: -98999" />
      <app-loading-spinner></app-loading-spinner>
      <div class="main-content custom-overlay-target">
        <br /><br /><br /><br /><br />
        <router-outlet></router-outlet>
        <br /><br />
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
<a href="#" class="float">
  <i class="fa fa-headphones my-float"></i>
</a>
