:host {
  display: flex;
  justify-content: space-evenly;
}

.details {
  width: 30%;
  display: flex;
  align-items: center;
  border-right: 2px solid grey;
  flex-direction: column;
  h3 {
    font-weight: bold;
  }
  h6 {
    width: 100%;
    text-align: justify;
    padding-top: 0;
    padding-bottom: 15px;
  }
}

.bundle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  background: transparent;
  height: 100px;
  width: 100px;
}

.more-detail {
  padding: 5px;
  line-height: 30px;
  border: #009688;
  border-width: 10px;
  .title {
    font-size: 14px;
    font-weight: 600;
  }
  .value {
    font-size: 16px;
    font-weight: 500;
  }
}

//#009688
.btn-custom {
  color: #fff;
  background: transparent;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #fff;
  width: 23%;
}

.btn-custom:focus {
  background: #009688;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #009688;
}

* {
  color: #fff;
}

// deph

.depth-chart {
  display: flex;
  justify-content: space-between;
}

.bids,
.asks {
  width: 50%;
}

.order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.price {
  color: white;
  padding: 0.5em;
  text-align: right;
}

.bids .price {
  background-color: green;
}

.asks .price {
  background-color: red;
}

#crypto-depth {
  width: 400px;
  height: 500px;
}
