<div class="wrapper">
  <div class="page-header">
    <img class="dots" src="assets/img/dots.png" />
    <img class="path" src="assets/img/path4.png" />
    <div class="container align-items-center">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <h1 class="profile-title text-left">
            {{ firstName }} {{ lastName }}
          </h1>
          <h5 class="text-on-back">01</h5>
          <p class="profile-description">Welcome to your profile page!</p>
          <div class="btn-wrapper profile pt-3">
            <a
              class="btn btn-icon btn-twitter btn-round mr-1"
              href=""
              target="_blank"
              ><i class="fab fa-twitter"></i></a
            ><a
              class="btn btn-icon btn-facebook btn-round mr-1"
              href=""
              target="_blank"
              ><i class="fab fa-facebook-square"></i></a
            ><a
              class="btn btn-icon btn-dribbble btn-round"
              href=""
              target="_blank"
              ><i class="fab fa-dribbble"></i
            ></a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ml-auto mr-auto">
          <div class="card card-coin card-plain">
            <div class="card-header">
              <img
                class="img-center img-fluid rounded-circle"
                src="assets/img/mike.jpg"
              />
              <h4 class="title">Profile</h4>
            </div>
            <div class="card-body">
              <tabset
                class="nav-tabs-danger justify-content-center tab-subcategories tab-container"
                _nghost-qtc-c1=""
                ><ul _ngcontent-qtc-c1="" class="nav nav-tabs">
                  <!---->
                  <li _ngcontent-qtc-c1="" class="nav-item active">
                    <a
                      _ngcontent-qtc-c1=""
                      class="nav-link active"
                      href="javascript:void(0);"
                      id=""
                      ><span _ngcontent-qtc-c1="">Wallet</span
                      ><!----></a
                    >
                  </li>
                </ul>
                <div _ngcontent-qtc-c1="" class="tab-content">
                  <tab heading="Send" class="tab-pane"
                    ><div class="row">
                      <label class="col-sm-3 col-form-label"> Pay to </label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input
                            class="form-control"
                            placeholder="e.g. 1Nasd92348hU984353hfid"
                            type="text"
                          /><span class="form-text">
                            Please enter a valid address.
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <label class="col-sm-3 col-form-label"> Amount </label>
                      <div class="col-sm-9">
                        <div class="form-group">
                          <input
                            class="form-control"
                            placeholder="1.587"
                            type="text"
                          />
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-simple btn-danger btn-icon btn-round float-right"
                      type="submit"
                    >
                      <i class="tim-icons icon-send"></i></button
                  ></tab></div
              ></tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-plain">
            <div class="card-header">
              <h1 class="profile-title text-left">Contact</h1>
              <h5 class="text-on-back">02</h5>
            </div>
            <div class="card-body">
              <form (ngSubmit)="saveChanges()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Your Name </label>
                      <input
                        class="form-control"
                        type="text"
                        name="fullName"
                        [(ngModel)]="fullName"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Email address </label>
                      <input
                        class="form-control"
                        placeholder="email"
                        type="email"
                        name="email"
                        [(ngModel)]="email"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Phone </label>
                      <input
                        class="form-control"
                        type="text"
                        name="phoneNumber"
                        [(ngModel)]="phoneNumber"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> Address </label>
                      <input
                        class="form-control"
                        type="text"
                        name="address"
                        [(ngModel)]="address"
                      />
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger btn-round float-right"
                  placement="right"
                  type="submit"
                >
                  Save Changes
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4 ml-auto">
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-square-pin"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Find us at the office</h4>
              <p>
                Bld Mihail Kogalniceanu, nr. 8, <br />
                7652 Bucharest, <br />
                Romania
              </p>
            </div>
          </div>
          <div class="info info-horizontal">
            <div class="icon icon-danger">
              <i class="tim-icons icon-mobile"> </i>
            </div>
            <div class="description">
              <h4 class="info-title">Give us a ring</h4>
              <p>
                Michael Jordan <br />
                +40 762 321 762 <br />
                Mon - Fri, 8:00-22:00
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
