@import "@angular/material/theming";
@import "assets/css/nucleo-icons.css";

.chartContainer canvas {
  max-height: 250px;
  width: auto;
  color: aqua !important;
}

.chartContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-snackbar,
.success-snackbar {
  position: absolute;
  top: 60px;
}

.mat-card {
  background: whitesmoke !important;
}
