.chartContainer canvas {
  max-height: 250px;
  width: auto;
  color: aqua !important;
}

.chartContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-snackbar,
.success-snackbar {
  color: white;
}

.error-snackbar {
  background-color: red;
}

.success-snackbar {
  background-color: green;
}

.cdk-overlay-container {
  position: absolute;
  z-index: 10000;
  top: 50px;
  right: 30px;
}

.mat-card {
  background: whitesmoke !important;
}
